<section class="lg:block hidden">
<section class="w-[100%] flex flex-wrap h-screen">
  <section class="w-[55%] h-[100%]">
    <img class="h-screen w-[100%]" style="object-fit: cover;" src="assets/img/mensaje-enviado.jpg" alt="">
  </section>
  <section class="w-[45%]">
    <div class="w-[100%] h-[100%] flex flex-col  items-center justify-center">
      <div class="flex justify-center">
        <i><img data-aos="fade-up" style="width: 262px; height: 69px;" src="assets/img/checkautologo-mensaje.svg" alt=""></i>
      </div>
      <div class="">
        <lottie-player class="2xl:w-[300px] 2xl:h-[300px] lg:w-[250] lg:h-[250px]" src="https://assets3.lottiefiles.com/packages/lf20_moqykegx.json" background="transparent"
          speed="1" loop autoplay></lottie-player>
      </div>

      <div>
        <div class="3xl:mt-14 2xl:mt-10 xl:mt-6 flex justify-center">
          <p data-aos="fade-right" class="InterBold 2xl:text-[33px] lg:text-[28px] text-[#00239B]">
            Mensaje enviado con éxito
          </p>
        </div>
        <div class="flex justify-center flex-col InterMedium 2xl:text-[20px] lg:text-[15px] 2xl:mt-5 lg:mt-5">
          <div class="flex justify-center">
            <p data-aos="fade-right" data-aos="fade-right" class="" style="color: rgba(17, 24, 40, 0.5);">​​ Pronto uno de nuestros Checkers se</p>
          </div>
          <div class="flex justify-center">
            <p style="color: rgba(17, 24, 40, 0.5);"> pondrá en contacto.</p>
          </div>
        </div>
      </div>

      <div class="2xl:mt-10 xl:mt-6 lg:mt-6">
        <div class="flex justify-center">
          <div class="flex justify-center">
            <a class="boton-seguir text-white flex justify-center items-center" href="/#">
              Seguir Explorando
            </a>

          </div>

        </div>
      </div>
    </div>
  </section>
</section>
</section>


<section class="w-[100%] h-screen lg:hidden block">
  <section class="h-screen">
    <div class="w-[100%] h-[100%] flex flex-col  items-center justify-center">
      <div class="flex justify-center">
        <i><img style="width: 182px; height: 50px;" src="assets/img/checkauto-mensaje.png" alt=""></i>
      </div>
      <div class="mt-11">
        <lottie-player class="w-[160px] h-[160px]" src="https://assets3.lottiefiles.com/packages/lf20_moqykegx.json" background="transparent"
          speed="1" loop autoplay></lottie-player>
      </div>

      <div>
        <div class="mt-10 flex justify-center">
          <p class="InterBold text-[18px] text-[#00239B]">
            Mensaje enviado con éxito
          </p>
        </div>
        <div class="flex justify-center flex-col InterMedium text-[13px] mt-4">
          <div class="flex justify-center">
            <p class="" style="color: rgba(17, 24, 40, 0.5);">​​ Pronto uno de nuestros Checkers se</p>
          </div>
          <div class="flex justify-center">
            <p style="color: rgba(17, 24, 40, 0.5);"> pondrá en contacto.</p>
          </div>
        </div>
      </div>

      <div class="mt-16">
        <div class="flex justify-center">
          <div class="flex justify-center">
            <a class="w-[228px] h-[60px] text-white flex justify-center items-center" href="/#" style="filter: drop-shadow(0px 4px 100px rgba(69, 74, 222, 0.4)); border-radius: 12px; background: #001662;">
              Seguir Explorando
            </a>

          </div>

        </div>
      </div>
    </div>
  </section>
</section>
