.cont-box{
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 35, 155, 0.1);
  border-radius: 25px;
  cursor: pointer;
  color: #00239B;
}

.cont-box:hover{
  background: linear-gradient(180deg, #001E86 0%, #0557BB 53.65%, #009CFD 100%);;
  box-shadow: 0px 4px 30px rgba(0, 35, 155, 0.1);
  border-radius: 25px;
  color: #FFFFFF;
}


.img-change{
  position: absolute;
  opacity: 0;
}

.img-change:hover{
  opacity: 1;
}
