input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.btn-enviar {
  background: #001662;

}

.btn-enviar:hover {
  background: #00239B;

}

.submit-btn {
  width: 63%;
  height: 60px;
  background: #001662;
  border-radius: 10px;
}